*

{
    padding: 0;
    margin: 0;
}
body
{
background-image: url(fb.png);
background-size: cover;
background-position: center;
box-sizing: border-box;
font-family: sans-serif;
}
.menu-bar
{
background: rgb(85, 236, 71);
text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #130101;
}
.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: #070101;
}
.active, .menu-bar ul li:hover
{
    background: #13f00b;
    border-radius: 3px;
}
.menu-bar .fa
{
    margin-right: 8px;
}
.sub-menu-1

{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position:absolute;
    background: rgb(9, 235, 65);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar UL LI:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar UL LI:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted hwb(0 100% 0%);
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: #e733b1;
}
.fa-angle-right
{
  float: right;  
}
.sub-menu-2
{
    display: none;
}
.hover-me:hover .sub-menu-2
{
    position: absolute;
    display: block;
    margin-top: 40px;
    margin-left: 140px;
    background: rgb(200, 53, 230);
}

